svg {
  height: 1em;
  width: 1em;
}

button {
  background: #90a1fb;
  font-size: 1.3rem;
  border-radius: 0.3em;
  padding: 1em 1.5em 1em 1em;
  display: flex;
  cursor: pointer;

  span {
    margin-left: 0.3em;
  }

  &:hover {
    background: #798efd;

    .dropdown {
      display: block;
    }
  }
}

.dropdown {
  background: #f2f2f2;
  border-radius: 0.3em;
  position: absolute;
  left: 0.1em;
  // padding: 0.5em;
  width: 98%;
  box-sizing: border-box;
  transform: translateY(-1em);
  transition: transform 0.5s;
  visibility: hidden;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li a {
      display: flex;
      padding: 0.8em;
      text-decoration: none;
      color: #333;

      span {
        margin-left: 0.8em;
      }

      &:hover {
        background: #e2e6fa;
        border-radius: 0.3em;
      }
    }
  }
}

.container {
  position: relative;

  &:hover .dropdown {
    display: block;
    visibility: visible;
    transform: translateY(0);
  }
}
